

$primary: #750075;
$secondary: #A300A3;
$success: #D100D1;
$info: #FF00FF;
$light: #FF2EFF;
$dark: #FF5CFF;
$danger:#750075;
$warning:#750075;

$body-bg: #EFD3B5;

p {
    font-size: 58px;
    font-family: 'Macondo';
}
